[submodule "inspire"]
	path = packages/inspire
	url = git@github.com:alex-scare/inspire.git
	ignore = all
[submodule "image_grid_view"]
	path = packages/image_grid_view
	url = git@github.com:alex-scare/image-grid-view.git
[submodule "talk_gpt"]
  path = packages/talk_gpt
	url = git@github.com/alex-scare/TalkGPT.git
[submodule "dart_openai_api"]
	path = packages/dart_openai_api
	url =git@github/alex-scare/dart_openai_api.git
[submodule "packages/lines"]
	path = packages/lines
	url = https://github.com/alex-scare/lines.git
