[submodule "inspire"]
	path = packages/inspire
	url = git@github.com:alex-scare/inspire.git
	ignore = all
[submodule "image_grid_view"]
	path = packages/image_grid_view
	url = git@github.com:alex-scare/image_grid_view.git
	ignore = all